/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  background-color: rgb(232, 232, 232);
}
.header {
  background-color: #4617fe;
  padding-top: 20px;
}
.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;

  margin-left: 20px;
  margin-right: 20px;
}
.top-right {
  flex-grow: 0.2;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  margin-left: 70px;
}

.header-text {
  margin-top: 100px;
  margin-bottom: 100px;
}
.header-text h2 {
  font-size: 36px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.blog-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.blog-card {
  display: flex;
  flex-direction: row;
}

.faq-section {
  display: flex;
  flex-direction: row;
}
.download-section {
  display: flex;
  flex-direction: row;
}
.footer-section {
  background-color: #4617fe;
  display: flex;
  flex-direction: row;
}
.list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.logos-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-item-active {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  color: #4617fe;
  border-radius: 3px;
  height: 28px;
}

.header-image {
  position: absolute;
  top: 45px;
  right: 0;
}
.companies {
  margin-top: 100px;
  position: absolute;
  display: flex;
  list-style: none;
  color: black;
  left: -50px;
  font-size: 24px;
}
.company-items {
  font-family: "Righteous";
  margin-top: 30px;
}
.company-items-2 {
  margin-left: 50px;
  margin-right: 50px;
}
.api {
  margin-top: 120px;
  margin-left: 50px;
}

.nextarr {
  height: 50px;
}
.card,
.card-active {
  padding: 36px 20px 20px 20px;
  margin-right: 10px;
}
.api-heading {
  margin: 40px;
}
.card-active {
  background-color: rgb(254, 254, 254);
  border-radius: 10px;
}

.card-head-active {
  color: #4617fe;
  font-weight: 600;
}
.seeall {
  color: #4617fe;
  font-weight: 600;
  margin-left: auto;
  margin-right: 40px;
  width: 110px;
  margin-bottom: 20px;
}
.card-body {
  font-size: 13px;
}
.blog-heading {
  margin-top: 72px;
  margin-left: 90px;
  font-weight: 900;
  margin-bottom: 0;
}
.blog-content {
  background-color: rgb(254, 254, 254);
  padding-left: 36px;
  padding-right: 16px;
  padding-top: 36px;
  position: relative;
}

.blog-content h6 {
  margin: 0;
  color: #4617fe;
  font-weight: 900;
}
.blog-content small {
  display: inline-block;
  font-size: 12px;
}
.blog-bottom {
  position: absolute;
  bottom: -30px;
}
.blog-author {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10px;
}
.faq-section {
  margin-top: 75px;
  background-color: #e9edff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.faq-content > h4:nth-of-type(1) {
  font-weight: 100;
  margin-top: 0;
}
.faq-content h2 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 12px;
}
.faq-content {
  margin-left: 36px;
}
.btn-contactus {
  background-color: #4617fe;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
.download-section {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
}
.btn-download {
  background-color: #4617fe;
  border: none;
  padding: 15px 35px;
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
}
.enteremail {
  border: none;
  padding: 15px 25px;
  padding-right: 200px;
  border-radius: 30px;

  background-color: #e9edff;
}
.download-email {
  border: none;
  padding: 5px 5px;

  border-radius: 30px;

  background-color: #e9edff;
}
.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 36px;
  padding-top: 72px;
  padding-bottom: 50px;
}
.footer-left img {
  width: 120px;
}

.footer-left .list-bottom {
  padding-left: 0;
  color: white;
}
.footer-left {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.list-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.list-bottom li {
  margin-right: 12px;
}
.list-bottom li:not(:nth-child(-n + 2))::before {
  content: " | ";
}

.footer-right .logos-list {
  padding-left: 0;
  color: white;
}
.footer-right-one img {
  margin-right: 12px;
}
.logos-list li:not(:nth-child(1))::before {
  content: " | ";
}
.logos-list li {
  margin-right: 12px;
}
